
.card p{
  font-family: "ABCMonumentGrotesk-Regular";
}

.card-name{
  font-family: "ESRebondGrotesqueTRIAL-Medium";
  font-size: 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white);
  border-radius: 8px;
  outline: 1px solid var(--primary-red);
  width: 33.3%;
  overflow: hidden;
  max-height: 30.5em;
  justify-content: space-between;
}

.card-foot{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
  gap:7px;
}

.learn-more{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.tag{
  min-width: fit-content;
}

.card-pp-div{
  display: flex;
}

.card-profile-picture{
  max-width: 26em;
  border-radius: 40%; 
}

.pp-container{
  display: flex;
  max-width: 100%;
  max-height: 50%;
  width: auto;
  align-items: center;
  justify-content: center;
}

.card-profile-mask {
  -webkit-mask-image: url(../../assets/profilemask.svg);
  mask-image: url(../../assets/profilemask.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-clip: no-clip;
  margin-top: 2.8em;
  padding: 1em;
}

.card-content{
  padding: 2.3em 2em 1em 2em;
}


/*************************************** OVERALAY/CARD EXPANSION *********************************/

.overlay-frame{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(66, 66, 66, 0.7);
  z-index: 1000;
  overflow: auto;
 
}

.overlay{
  background-color: var(--primary-red);
  width: 60%;
  border: 1px solid var(--primary-red);
}

@media (max-width: 1503px){
  .card{
    width: 50%;
    border-right: 1px solid var(--primary-red)
  }
  .overlay{
    width: 75%;
  }
}

@media (max-width: 1250px){
  .overlay{
    width: 85%;
  }
}



.content-padding{
  padding-top: 1em;
  padding-bottom: 1.3em;
}

.expanded-left-padding{
  padding-left: var(--leftPadding-ext-card);
}

.alumni-social-nav{
  display: flex;
  flex-direction: row;
  height: 7vh;
  background-color: var(--primary-white);
  border-radius: 5px; 
  justify-content: space-between;
  align-items: center;
  padding-left: var(--leftPadding-ext-card);
  padding-right: var(--leftPadding-ext-card);
}

.back-button{
  cursor: pointer;
}

.alumni-social-nav > ul > a{
  padding-left: 2em;
  font: "ABCMonumentGrotesk-Regular";
  font-size: 0.9rem;
  color: var(--primary-darkgray)
} 

.expanded-card-banner{
  display: flex;
  flex-direction: row;
  background-color: var(--primary-white);
  height: 20rem;
  border-radius: 5px; 
  margin-top: 1px;
}

.card-profile-mask-expanded{
  -webkit-mask-image: url(../../assets/profilemask.svg);
  mask-image: url(../../assets/profilemask.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-clip: no-clip;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-profile-picture-expanded{
  max-width: 85%;
  height: auto;
}

.card-details-exp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-skills-expanded{
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  gap: 1em;
}

.about-resource-section{
  display: flex;
  direction: row;
  margin-top: 1px;
}



.about-section{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.resource-section{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.about-header{
  /* border: 1px solid blue; */
  background-color: var(--primary-white);
  border-radius: 5px;
}

.resource-header{
  /* border: 1px solid blue; */
  background-color: var(--primary-white);
  border-radius: 5px;
  margin-left: 1px;
}

.exp-big-header{
  font-family: "ABCMonumentGrotesk-Regular";
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

.about-content{
  background-color: var(--primary-white);
  /* border: 1px solid purple; */
  border-radius: 5px;
  margin-top: 1px;
  flex-grow: 1;
}

.resource-content-expanded-card{
  background-color: var(--primary-white);
  /* border: 1px solid purple; */
  border-radius: 5px;
  margin-top: 1px;
  margin-left: 1px;
  flex-grow: 1;
}

.about-content> h3{
  padding-bottom: 0.5em;
}

.resource-content-expanded-card > h3{
  padding-top: 0.8em;
  padding-bottom: 0.5em; 
}

.about-content > ul{
 padding-bottom: 0.5rem;
}

.about-content > ul li{
  /* padding-bottom: 10px; */
 }

.resource-content-expanded-card > ul{
  padding-bottom: 0.5rem;
 }

 .resource-content-expanded-card > ul li{
  /* padding-bottom: 10px; */
 }

.resource-content-expanded-card > h3 {
  padding-bottom:0.5rem
}

 .about-me{
    max-width: 23.8em;
 }

 @media (max-width: 880px){
  .overlay-frame{
    align-items: flex-start;
  }
  .card{
    width: 100%;
  }
  .resource-header{
    border-top: 1px solid var(--primary-red);
    margin-left: 0;
  }

}

 @media (max-width: 800px){
  .about-resource-section{
    flex-direction: column;
  }
  .about-section{
    width: 100%;
  }
  .resource-section{
    width: 100%;
  }
  .resource-content-expanded-card{
    margin-left: 0;
  }
  .alumni-social-nav{
    height: fit-content;
    padding: 1em 1.2em;
  }
  .alumni-social-nav > ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: auto;
  }
  .back-button{
    display: none;
  }

  .card-profile-picture-expanded{
    border-radius: 40%;
  
  }
}
 
