.card{
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white);
  border-radius: 8px;
  width: 33.3%;
  overflow: hidden;
  max-height: 30.5em;
  margin-top: 1px;
}

.card p{
  font-family: "ABCMonumentGrotesk-Regular";
}

.card-content{
  margin-bottom: auto;
  padding: 2.3em 2em 0 2em;
}

.card-foot{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
  gap:7px;
}

.learn-more{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.tag{
  min-width: fit-content;
}

.card-pp-div{
  display: flex;
}

.card-profile-picture{
  max-width: 100%;
}

.pp-container{
  display: flex;
  max-width: 100%;
  max-height: 50%;
  width: auto;
  align-items: center;

}

.card-profile-mask {
  -webkit-mask-image: url(../../assets/profilemask.svg);
  mask-image: url(../../assets/profilemask.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-clip: no-clip;
  mask-size: 28em 60em;
}

.overlay-frame{
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(66, 66, 66, 0.7);
    z-index: 1000;
}

.overlay{
    margin: 70px auto;
    padding: 20px;
    background-color: rgb(250,249,249);
    width: 70vw;
    height: 70vh;
}

@media (max-width: 1503px){
  .card{
    width: 50%;
    border-right: 1px solid var(--primary-red)
  }

}

@media (max-width: 700px){
  .card{
    width: 100%;
  }

}
