.header-frame{
    display: flex;
    height: 7.8vh;
    background:var(--primary-white);
    justify-content: center;
    align-items: center;
    padding: 0 2.3rem;
}

.header-links{
    display: flex;
    margin-left: auto;
    gap: 5.1rem;

}

.header-links a{
    text-decoration: none;
    font-family: "ABCMonumentGrotesk-Medium";
}

@media(max-width: 800px){
    .header-icon{
        display: none;
    }
}


