/* TODO: see if there is a better way to reduce redundant code */

:root {
    --primary-red: #be2d2d;
    --primary-white: rgba(250, 249, 249, 1);
    --primary-lightgray: rgba(85, 85, 85, 1);
    --primary-darkgray: rgba(58, 58, 58, 1);

}

* {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@font-face{
    font-family: "ABCMonumentGrotesk-Light"; 
    src: local("ABCMonumentGrotesk-Light-Trial"),
      url("./fonts/ABCMonumentGrotesk-Light-Trial.woff") format("woff");
  }  

@font-face{
    font-family: "ABCMonumentGrotesk-Regular"; 
    src: local("ABCMonumentGrotesk-Regular-Trial"),
      url("./fonts/ABCMonumentGrotesk-Regular-Trial.woff") format("woff");
  }  

@font-face{
    font-family: "ABCMonumentGrotesk-Medium"; 
    src: local("ABCMonumentGrotesk-Medium-Trial"),
    url("./fonts/ABCMonumentGrotesk-Medium-Trial.woff") format("woff2");
}  

@font-face{
    font-family: "ABCMonumentGrotesk-Bold"; 
    src: local("ABCMonumentGrotesk-Bold-Trial"),
    url("./fonts/ABCMonumentGrotesk-Bold-Trial.woff") format("woff2");
} 

@font-face{
    font-family: "ESRebondGrotesqueTRIAL-Medium"; 
    src: local("ESRebondGrotesqueTRIAL-Medium"),
    url("./fonts/ESRebondGrotesqueTRIAL-Medium.otf") format("opentype");
}  

@font-face{
    font-family: "ESRebondGrotesqueTRIAL-Semibold"; 
    src: local("ESRebondGrotesqueTRIAL-Semibold"),
    url("./fonts/ESRebondGrotesqueTRIAL-Semibold.otf") format("opentype");
}

@font-face{
    font-family: "ESRebondGrotesqueTRIAL-Bold"; 
    src: local("ESRebondGrotesqueTRIAL-Bold"),
    url("./fonts/ESRebondGrotesqueTRIAL-Bold.otf") format("opentype");
}

html{
    /* scroll-snap-type: y mandatory;
    scroll-behavior: smooth; */
}

body{
    margin: 0;
    background-color: #be2d2d;
}

h1{
    font-family: "ESRebondGrotesqueTRIAL-Medium";
	font-size: 24px;
    color: var(--primary-red);
	font-weight: bold;
}

h2{
    font-family: "ESRebondGrotesqueTRIAL-Medium";
	font-size: 20px;
    color: var(--primary-red);
	font-weight: bold;
}

h3{
    margin:0;
}


h4{
    font-family: "ESRebondGrotesqueTRIAL-Medium", Helvetica;
    font-size: 2.75rem;
    font-weight: 500;
    margin: 0;
}

ul{
    margin:0;
    padding: 0;
}

p{
    font-family: "ABCMonumentGrotesk-Regular";
    font-size: 1rem;
    margin: 0;
}

p.right-aligned{
    text-align: right;
}

p.center-aligned{
    text-align: center;
}

.red-text{
    color: var(--primary-red);
}

p.lightgray-text{
    color:var(--primary-lightgray);
    font-size: 1rem;
}

p.darkgray-text{
    color:var(--primary-darkgray);
    font-size: 1.25rem;
}

p.large{
    font-size: 3em;
    line-height: 130%;
}

p.resource-category-title{
    font-family: "ESRebondGrotesqueTRIAL-Bold";
}

p.red-tag{
    text-align: center;
    font-size: 0.875rem;
    -ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	outline: 1px solid var(--primary-red);
    padding: 3px 7px 3px 7px;
}

p.gray-tag{
    text-align: center;
    font-size: 0.875rem;
    -ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	outline: 1px solid var(--primary-lightgray);
    padding: 3px 7px 3px 7px;
}

ul{
    list-style: none;
}

section{
    /* height: fit-content;
    scroll-snap-align: start; */
}

.site-wrapper{
    display: flex;
    margin-left:auto;
    margin-right:auto;
}

.nav-item{
    
}

.banner-wrapper{
    border-left: 1px; 
    width: 100%;
}

.subject-bar{
    display: flex;
}

.subject-bar-item{
    top: 87px;
	left: 441px;
	width: 138px;
	height: 5vh;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #be2d2d;
	background:rgba(249.69,248.65,248.65,1);
}

.subject-item-long{
    width: 100%
}

.sb-md{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sb-md img{
    width: 4rem;
    height: auto;
}


.product-design-heading{
    padding-top: 1rem;
}

.banner-section1{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background:rgba(249.69,248.65,248.65,1);
    height: 35.8vh; 
    width: 100%;
    padding: 0 5.9vw; 
}

.banner-section2{
    display: flex;
    height: 23.4vh;
    width: 100%;
    margin-top: 1px;
}

.list-icon{
    width: 2vw;
    height: 2vw;
}

.section2-panel{
    background:rgba(249.69,248.65,248.65,1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 50%;
    border-radius: 6px; 
    height: 100%;
}

.right-panel{
    display: flex;
    padding: 2vh 5.9vw 0 6.3vw;
    border-radius: 6px 0 0 6px; 
    border-left: 1px solid var(--primary-red);
    width: 100%;
}

.left-panel{
    display: flex;
    padding: 2vh 5.9vw 0 6.3vw;
    border-radius: 0 6px 6px 0; 
    height: 100%;
    width: 100%;
}

.skillset-list{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    width: 70%;  
}

.skillset{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 23px;
    padding-bottom: 22px;
}

.skillset li{
    font-family:"ESRebondGrotesqueTRIAL-Medium";
}

.banner-section1 a{
    color: var(--primary-darkgray);
}

.scroll-section{
    display: flex;
    background:rgba(249.69,248.65,248.65,1);
    height: 28vh;
    width: 100%;
    margin-top: 1px;
    justify-content: center;
}

.scroll-msg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

.cards-intro{
    padding: 0 5.9rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    justify-content: space-between;
}

.white-space{
    width: 6.3vw;
    background-color: var(--primary-white);
    border:1px var(--primary-red);
}

@media (max-width: 1644px){
    .white-space{
        width: 0;
    }
}

@media (max-width: 1445px){
    .banner-section1{
        height: 37%; 
        width: 100%;
        padding-bottom: 2rem;
    }
    .scroll-section{
        height: 11vw;
    }
    p.darkgray-text {
        font-size: 1rem;
    }

    .skillset{
        gap:4px;
    }

    .list-icon{
        width: 3vw;
        height: 3vw;
    }

}


@media(max-width: 974px){

    .banner-section2{
        flex-direction: column;
        align-items: center;
        height: min-content;
    }
    .scroll-section{
        display: none;
    }

    .right-panel{
        border-left: 1px solid var(--primary-white);
        border-radius: 0px; 
        padding: 5.9vw;
    }

    .left-panel{
        border-radius: 0px; 
        border-bottom: 1px solid var(--primary-red);
        padding: 5.9vw; 
    }

    p.large{
        font-size: 5vw;
        line-height: 130%;
    }
    
}








