.resource{
    /* padding: 4em var(--leftofNav-padding) 4em var(--leftofNav-padding);  */
    background-color: var(--primary-white);
    margin-top: 1px;
}

.resources-tag{
    width: 30.8vw;

}
.category-tag{
    width: 10vw;
}
.endorsement-tag{
    margin: 0;
}
.resource-cards{
    margin-bottom: 88px;
}

.resource-card{
    margin-bottom: 22px;
}

.resource-frame{
    display:flex;
    flex-direction: column;
}

.resource-disc{
    padding-bottom: 3em;
}

.col-header{
    padding-bottom: 1em;
}

.extra-resource-links{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    gap: 10px;
}

.three-coll-small{
    display: flex;
    flex-direction: row;
    gap:20%;
    width: 46.5%;
    padding-top: 1.5rem;
    justify-content: space-between;
}

.extra-resource-links a{
    color: var(--primary-darkgray)
}


@media(max-width: 1733px) {
    .three-coll-small{
        width: 50%;
    }
    
}
@media (max-width: 1501px){
    .category-tag{
        display: none;
    }

    .endorsement-tag{
        margin-left: auto;
    }

}

@media (min-width: 794px){
    .resource-disc {
        width: 70%;
    }
}

@media (max-width: 795px){
    .resource{
        padding: 5.9vw;
    }
}

@media (max-width: 560px){
    .three-coll-small{
        flex-flow: column;
        gap: 1em;
    }
}



