.resource-three-col{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-white);
    align-items: center;
}

.three-col-child{
    width: 23.7vw;
}

h3.resource-content{
    font-family: "ESRebondGrotesqueTRIAL-Medium";
}

.resource-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23.7vw;
    padding-left: 20px;
}

.categories-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 20%;
    gap: 5px;
}

.resource-content-wrapper{
    display: flex;
    direction: row;
    width: 32.1vw;
}





