.resource-div{
    display: flex;
    flex-direction: row;
    padding-left: 5.8rem;
    background-color: var(--primary-white);
    justify-content: flex-start;
    align-items: center;
}
.resource-content{
    display: flex;
    padding-left: 1rem;
    padding-right: 20rem;
    flex-direction: column;
    justify-content: center;
    min-width: fit-content;
}

.resource-header{
    padding: 2rem 0;
    margin-top: 1px;
}

.resource-header p{
    padding-left: 5.8rem;
}