.resource-three-col{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-white);
    
}

.three-col-child{
    width: 23.7vw;
}

h3.resource-title{
    font-family: "ESRebondGrotesqueTRIAL-Semibold";
}

.resource-content-wrapper{
    display: flex;
    direction: row;
    width: 32.1vw;
}

.row-col-flex{
    display:flex;
    flex-direction: row;
}

.categories-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 5px;
    width: 200px;
}

.resource-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 26vw;
    padding-left: 20px;
}



@media (max-width: 1501px){
    .row-col-flex{
        flex-direction: column;
    }
    
    .categories-col{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: fit-content;
        padding-left: 20px;
    }

    .resource-content{
        width: 50vw;
    }

}


@media (max-width: 945px){


}








